<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>リストApp</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="/send_url.js"></script> -->
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <a href="/" class="link">
          <h1 class="title">Node.js学習用</h1>
        </a>
        <div class="image-area">
          <img class="image" src="/images/neko2.jpg">
        </div>
      </div>
      <div class="main">
        <div class="text">
          <% const cats = [
            {id: 1, name: 'タマ'},
            {id: 2, name: 'ミケ'},
            {id: 3, name: 'クロ'}
          ] %>
          <p>猫羅列</p>
          <% cats.forEach((cat) => { %>
            <div class="list">
              <p>猫番号：<%= cat.id %>   名前：<%= cat.name %></p>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="footer">
        <p>このサイトは学習用</p>
      </div>
    </div>
  </body>
</html>