<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>リストApp</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="/send_url.js"></script> -->
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <a href="/" class="link">
          <h1 class="title">Node.js学習用</h1>
        </a>
        <div class="image-area">
          <img class="image" src="/images/neko2.jpg">
        </div>
      </div>
      <div class="main">
        <div class="text">
          <p>猫一覧</p>
          <% cats.forEach((cat) => { %>
            <div class="list">
              <p>猫番：<%= cat.id %>   名前：<%= cat.name %>   色：<%= cat.color %></p>
            </div>
          <% }) %>
        </div>
        <div class="form-area">
          <form action="/create" method="post">
            <input type="text" name="catName">
            <input type="text" name="catColor">
            <input type="submit" value="仲間を呼ぶ">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>このサイトは学習用</p>
      </div>
    </div>
  </body>
</html>